<div class="  w-full py-2 lg:px-10 px-4 mx-auto  flex items-center justify-between bg-black">

  <div>
    <img src="assets/images/Heading.svg" alt="" class="w-[10rem] flex-shrink-0 ">
  </div>
  <div class="md:flex justify-center space-x-8 font-semibold hidden">

    <a routerLink="accueil" class="text-white hover:text-gray-300">Accueil</a>
    <a routerLink="nos-voitures" class="text-white hover:text-gray-300">Réservation</a>
    <a routerLink="nos-agences" class="text-white hover:text-gray-300">Agences</a>
    <a routerLink="contact" class="text-white hover:text-gray-300">Contact</a>


  </div>


  
    <button  *ngIf="!isLoggedIn" (click)="openPopup()" class="border-2 border-opacity-50 border-white bg-black text-white font-semibold py-[8px] rounded-3xl px-[20px] hidden md:flex ">Se connecter / S’inscrire</button>
  

    <div *ngIf="isLoggedIn" class="flex items-center space-x-2">
      <img src="../../../../assets/images/users/Frame 85.svg" alt="" class=" rounded-full">
      <p class="text-white  font-bold ">Ahmed</p>      
    </div>


  <div class="md:hidden">
    <button (click)="toggleMenu()" class="text-white focus:outline-none">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
      </svg>
    </button>
  </div>



</div>



<app-popup-inscription  *ngIf="isPopupOpen" (close)="closePopupins()"    (dataEvent)="receiveData($event)"></app-popup-inscription>

<!--
<ul class="md:flex justify-center space-x-8 font-semibold hidden  ">

<li><a router-Link="home" class="text-white hover:text-gray-300">Accueil</a> </li>
<li ><a router-Link="contact" class="text-white hover:text-gray-300">Réservation</a></li>
<li ><a router-Link="contact" class="text-white hover:text-gray-300">Agences</a></li>
<li ><a router-Link="contact" class="text-white hover:text-gray-300">Contact</a></li>


</ul> -->
<!--
<ul class="md:flex justify-center space-x-8 font-semibold hidden  ">

<li><a router-Link="home" class="text-white hover:text-gray-300">Accueil</a> </li>
<li ><a router-Link="contact" class="text-white hover:text-gray-300">Réservation</a></li>
<li ><a router-Link="contact" class="text-white hover:text-gray-300">Agences</a></li>
<li ><a router-Link="contact" class="text-white hover:text-gray-300">Contact</a></li>


</ul> -->
