<nav class="bg-gradient-to-r from-black to-black text-white">
  <div class="container">
    <div class="flex justify-between items-center py-2">
      <img src="assets/images/Heading.svg" alt="Logo" class="w-178 flex-shrink-0 ml-10">
      <ul class="flex">
        <li class="mr-6"><a routerLink="home" class="text-white text-lg">Accueil</a></li>
        <li class="mr-6"><a routerLink="contact" class="text-white text-lg">Réservation</a></li>
        <li class="mr-6"><a routerLink="home" class="text-white text-lg">Agences</a></li>
        <li><a routerLink="contact" class="text-white text-lg">Contact</a></li>
      </ul>
      <button class="border border-white bg-black text-white p-2 rounded-3xl text-lg">Se connecter / S’inscrire</button>
    </div>
  </div>
</nav>
