<div class="bg-[#557254]">
    <app-header></app-header>   
</div>

<div  class=" flex gap-x-10 w-full mt-10 px-24">
    <div class= "w-1/2 ">
        <div class="font-bold text-5xl text-[#1A906B]">
            À propos de nous
        </div>
        <div class="text-3xl w-3/4  mt-5 text-[#141414] font-semibold " style="font-weight: 500;">
           <span class="text-[#56DF25]">Yalla Bina</span>  est bien plus qu'une simple plateforme de réservation
        </div>
        <div class="mt-5 text-[#141414] font-serif text-justify  w-3/4 text-sm">
            Yalla Bina est bien plus qu'une simple plateforme de réservation 
            de repas chez l'habitant. Nous sommes des passionnés de voyage et de
             découverte, animés par le désir de vous offrir une expérience unique
              au cœur du Maroc. Avec Yalla Bina, nous vous invitons à plonger dans 
              l'authenticité de la cuisine marocaine en partageant un repas dans les
               salons traditionnels des familles locales. Notre mission est de vous 
               faire vivre des moments inoubliables,
        </div>
        <div class="mt-6">
            <div class="bg-[#22B286] rounded-3xl w-[194px] py-2 gap-4 flex justify-center h-12 items-center">
               <div class="text-white text-[16px]">
                 Contactez-nous
               </div>
               <div>
                <img src="../../assets/images/icon-apropos.svg" alt="">
               </div>
            </div>
        </div>
    </div>
    <div class=" w-1/2   float-right">
        <img src="../../assets/images/About Us Section.svg" alt="" class="w-[474px] float-right">     
    </div>
</div>
