
<footer class="bg-black text-gray-400 py-8 ">
    <div class="flex items-center justify-center">
      <div class="relative">
        <img src="assets/images/footer/Heading.svg" alt="Image 1" class="w-40 h-20 ">
        <img src="assets/images/footer/iris.svg" alt="Image 2" class="absolute pl-7 top-7 w-36">
      </div>
  
    </div>
  
    <hr class="my-8 ml-14 mr-14">
  
    <div class="lg:flex justify-between grid grid-cols-2 lg:px-8 px-2 gap-y-4">
      <div class="lg:w-1/3 w-full">
        <h3 class="mb-4 text-white font-poppins text-base font-semibold leading-[144.444%]">Reach us</h3>
        <div class="flex items-center mb-2">
          <img src="assets/images/footer/bxs_phone-call.svg" alt="Phone Image" class="w-6 h-6 mr-2">
          <p href="" class="text-white font-poppins text-base mb-2">Phone: XXX-XXXX</p>
        </div>
        <div class="flex items-center mb-2">
          <img src="assets/images/footer/ic_sharp-email.svg" alt="Email Image" class="w-6 h-6 mr-2">
          <p class="text-white font-poppins text-base mb-2">Email: example&#64;example.com</p>
        </div>
        <div class="flex items-center">
          <img src="assets/images/footer/carbon_location-filled.svg" alt="Address Image" class="w-6 h-6 mr-2">
          <p class="text-white font-poppins text-base">132 Dartmouth Street Boston, Massachusetts 02156 United States</p>
        </div>
      </div>
  
      <div class="lg:w-1/5 w-full">
        <h3 class="mb-4 text-white font-poppins text-base font-semibold leading-[144.444%]">Company</h3>
        <p class="text-white font-poppins text-base mb-2">About</p>
        <p class="text-white font-poppins text-base mb-2">Contact</p>
        <p class="text-white font-poppins text-base mb-2">Blogs</p>
      </div>
      <div class="lg:w-1/5 w-full">
        <h3 class=" mb-4 text-white font-poppins text-base font-semibold leading-[144.444%]">Legal</h3>
        <p class="text-white font-poppins text-base mb-2">Privacy Policy</p>
        <p class="text-white font-poppins text-base mb-2">Terms & Services</p>
        <p class="text-white font-poppins text-base mb-2">Terms of Use</p>
        <p class="text-white font-poppins text-base mb-2">Refund Policy</p>
      </div>
      <div class="lg:w-1/5 w-full">
        <h3 class=" mb-4 text-white font-poppins text-base font-semibold leading-[144.444%]">Quick Links</h3>
        <p class="text-white font-poppins text-base mb-2">Techlabz Keybox</p>
        <p class="text-white font-poppins text-base mb-2">Downloads</p>
        <p class="text-white font-poppins text-base mb-2">Forum</p>
        <img src="assets/images/footer/secure.svg" alt="Description de l'image" class="w-20 h-auto mt-2">
      </div>
  
      <div class="lg:w-1/5 w-full">
  
          <div class="p-1 rounded-lg ">
            <h3 class="mb-4 text-white font-poppins text-base font-semibold leading-[144.444%]  ">Join Our Newsletter</h3>
            <div class="flex items-center mb-2 bg-gray-800 mt-6 h-[40px]">
              <input type="email" placeholder="Your email address" class=" bg-gray-800  px-2 py-0 rounded mr-2 full  h-full text-white font-poppins text-xs">
              <button class="bg-black text-white px-4 py-1  font-poppins text-xs font-medium h-full hover:bg-white hover:text-black rounded-xl"  >Subscribe</button>
            </div>
            <p class="mb-2 text-white font-manrope text-xs font-medium opacity-50 mt-4">* Will send you weekly updates for your better tool management.</p>
  
          </div>
  
      </div>
    </div>
  </footer>
  
  