<div class="flex-1 h-full overflow-auto bg-gray-100">
<app-header-admin [Titre]="Page_Titre"></app-header-admin>
    <div class="flex flex-col bg-white px-8">
        <div class="lg:container lg:mx-auto space-y-5 my-8">
            <p class="text-center font-bold text-3xl">Créer un compte</p>
        </div>
        <div class="flex items-center mb-8">
            <img [src]="currentImage" alt="Selected Image" class="w-[100px] h-[100px] rounded-full border-4 object-cover mr-12" />
            <button (click)="onAddImage()" class="mx-8 rounded-xl border border-1 h-[48px] border-black w-48 text-white font-semibold bg-black px-4 hover:bg-white hover:text-black">Ajouter une photo</button>
            <button (click)="onRemoveImage()" class="rounded-xl border border-1 h-[48px] border-black w-48 text-black font-semibold bg-white px-4">Supprimer</button>
        </div>
        <div class="h-0.5 w-[90%] bg-gray-300 opacity-30 mb-8 mx-auto">&nbsp;</div>
        <form [formGroup]="creerCompte" (ngSubmit)="onSubmit()">
            <div class="flex justify-between mb-10">
                <label for="nom" class="w-1/3 mr-6 block font-semibold">
                    <span>Nom :</span>
                    <input
                      type="text"
                      class="w-full block p-4 mt-4 h-10 border border-gray-200 rounded-lg focus:ring-0 focus:outline-none"
                      id="nom"
                      formControlName="nom"
                      required
                    />
                </label>

                <label for="prenom" class="w-1/3 mr-6 block font-semibold">
                    <span>Prénom :</span>
                    <input
                      type="text"
                      class="w-full block p-4 mt-4 h-10 border border-gray-200 rounded-lg focus:ring-0 focus:outline-none"
                      id="prenom"
                      formControlName="prenom"
                      required
                    />
                </label>

                <label for="username" class="w-1/3 block font-semibold">
                    <span>Nom d'utilisateur :</span>
                    <input
                      type="text"
                      class="w-full block p-4 mt-4 h-10 border border-gray-200 rounded-lg focus:ring-0 focus:outline-none"
                      id="username"
                      formControlName="username"
                      required
                    />
                </label>
            </div>
            <div class="h-0.5 w-[90%] bg-gray-300 opacity-30 mb-8 mx-auto">&nbsp;</div>
            <div class="flex justify-between mb-10">
                <label for="email" class="w-1/2 mr-6 block font-semibold">
                    <span>Adresse E-mail :</span>
                    <div class="relative">
                        <input
                            type="email"
                            class="w-full block p-4 pl-12 mt-4 h-10 border border-gray-200 rounded-lg focus:ring-0 focus:outline-none"
                            id="email"
                            formControlName="email"
                            required
                        />
                        <fa-icon [icon]="email" class="absolute top-1/2 transform -translate-y-1/2 left-4 text-gray-300"></fa-icon>
                    </div>
                </label>

                <label for="tele" class="w-1/2 block font-semibold">
                    <span>Téléphone :</span>
                    <div class="relative">
                        <input
                            type="text"
                            class="w-full block p-4 pl-12 mt-4 h-10 border border-gray-200 rounded-lg focus:ring-0 focus:outline-none"
                            id="tele"
                            formControlName="tele"
                            required
                        />
                        <fa-icon [icon]="tele" class="absolute top-1/2 transform -translate-y-1/2 left-4 text-gray-300"></fa-icon>
                    </div>
                </label>
            </div>
            <div class="mb-10">
                <label for="adresse" class="font-semibold">
                    <span>Adresse :</span>
                    <div class="relative">
                        <input
                            type="text"
                            class="w-full block p-4 pl-12 mt-4 h-10 border border-gray-200 rounded-lg focus:ring-0 focus:outline-none"
                            id="adresse"
                            formControlName="adresse"
                            required
                        />
                        <fa-icon [icon]="adresse" class="absolute top-1/2 transform -translate-y-1/2 left-4 text-gray-300"></fa-icon>
                    </div>
                </label>
            </div>
            <div class="h-0.5 w-[90%] bg-gray-300 opacity-30 mb-8 mx-auto">&nbsp;</div>
            <div class="flex justify-between mb-10">
                <label for="type" class="w-1/3 mr-6 block font-semibold">
                    <span>Type d'utilisateur :</span>
                    <div class="mt-4 uppercase text-lg text-gray-600">
                        <label for="client" class="flex mb-4">
                            <input type="checkbox" id="client" name="type" formControlName="type" value="client" />
                            <span class="ml-4">Client</span>
                        </label>
                        <label for="manager" class="flex mb-4">
                            <input type="checkbox" id="manager" name="type" formControlName="type" value="manager" />
                            <span class="ml-4">Agence Manager</span>
                        </label>
                        <label for="admin" class="flex mb-4">
                            <input type="checkbox" id="admin" name="type" formControlName="type" value="admin" />
                            <span class="ml-4">Super Manager</span>
                        </label>
                    </div>
                </label>
                <div class="w-2/3 ml-12">
                    <label for="password" class="font-semibold">
                        <span>Mot de passe :</span>
                        <div class="relative">
                            <fa-icon [icon]="password" class="absolute top-1/2 transform -translate-y-1/2 left-4 text-gray-300"></fa-icon>
                            <input
                                type="{{ hidePassword ? 'password' : 'text' }}"
                                class="w-full block p-4 pl-12 mt-4 h-10 border border-gray-200 rounded-lg focus:ring-0 focus:outline-none"
                                id="password"
                                formControlName="password"
                                required
                            />
                            <fa-icon [icon]="eyePwd" (click)="togglePasswordVisibility()" class="absolute top-1/2 transform -translate-y-1/2 right-4 text-gray-300 cursor-pointer"></fa-icon>
                        </div>
                    </label>
                    <br>
                    <label for="confirmPwd" class="font-semibold">
                        <span>Confirmer le mot de passe :</span>
                        <div class="relative">
                            <fa-icon [icon]="password" class="absolute top-1/2 transform -translate-y-1/2 left-4 text-gray-300"></fa-icon>
                            <input
                                type="{{ hideConfirmPassword ? 'password' : 'text' }}"
                                class="w-full block p-4 pl-12 mt-4 h-10 border border-gray-200 rounded-lg focus:ring-0 focus:outline-none"
                                id="confirmPwd"
                                formControlName="confirmPwd"
                                required
                            />
                            <fa-icon [icon]="eyeConfirmPwd" (click)="toggleConfirmPasswordVisibility()" class="absolute top-1/2 transform -translate-y-1/2 right-4 text-gray-300 cursor-pointer"></fa-icon>
                        </div>
                    </label>
                </div>
            </div>
            <div class="flex justify-end mb-8">
                <button type="reset" class="rounded-xl border border-1 h-[48px] border-black w-48 text-black font-semibold bg-white px-4">Annuler</button>
                <button type="submit" class="mx-8 rounded-xl border border-1 h-[48px] border-black w-48 text-white font-semibold bg-black px-4 hover:bg-white hover:text-black">Enregistrer</button>
            </div>
        </form>
    </div>
</div>