
.cell-actions {
    padding: 0.5rem;
    background-color: #718096;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
  }
  .el{
    margin: 0.55rem;
    cursor: pointer;
  }
  