<div class="photo_debut">

  <h2>Vivez l'aventure sur route grâce à notre service de location de voitures</h2>
  <img src="../../../../assets/images/image 23.svg">
</div>


<!-- <div class="flex flex-row items-center justify-center w-90 left-5 h-200 border-2 absolute bg-white rounded-3xl transform -translate-y-20">
  <div class="input-group flex items-center">
    <label for="lieu1" class="mb-1 mr-2">Location 1</label>
    <input type="text" id="lieu1" name="lieu1" class="p-2 border border-gray-300 rounded">
  </div>
  <div class="input-group flex items-center">
    <label for="date1" class="mb-1 mr-2">Date 1</label>
    <input type="date" id="date1" name="date1" class="p-2 border border-gray-300 rounded">
  </div>
  <div class="input-group flex items-center">
    <label for="lieu2" class="mb-1 mr-2">Location 2</label>
    <input type="text" id="lieu2" name="lieu2" class="p-2 border border-gray-300 rounded">
  </div>
  <div class="input-group flex items-center">
    <label for="date2" class="mb-1 mr-2">Date 2</label>
    <input type="date" id="date2" name="date2" class="p-2 border border-gray-300 rounded">
  </div>
  <button class="border border-white bg-black text-white p-2 rounded-3xl text-lg">Valider</button>
</div> -->
