<div class=" z-10 ">

  <h2 class="absolute top-1/3 text-center w-4/5 flex translate-x-[12%] -translate-y-[45%] text-white text-5xl  font-bold">Vivez l'aventure sur route grâce à notre service de location de voitures</h2>
  <img class="w-[100%] h-[100%]" src="../../../../assets/images/image 23.svg">


</div>
<app-search-cars></app-search-cars>
<app-marques></app-marques>
<app-collections></app-collections>
<app-comment-fonctionne></app-comment-fonctionne>
<app-nos-services></app-nos-services>
<app-commentaire></app-commentaire>
<app-footer></app-footer>
