
<div id="marques" class="block block-wrap justify-center mb-14">
    <div id="marques" class="flex justify-between items-center ">
      <h2 class="pt-20 pb-10 pl-10 text-black font-abel text-xl leading-[130%] tracking-tighter">Location par marques</h2>
      <div class="pr-12">
        <button class="border border-white bg-white text-black w-40 rounded-3xl text-lg relative mt-12 font-abel leading-9 ">
          Voir tout
          <img src="../../../../assets/images/arrow-right-white.svg" alt="icone" class="h-5  w-5 absolute right-3 top-2.5" />
        </button>
      </div>
  
    </div>
  
    <div class="flex flex-wrap justify-center">
  
  
      <div class="m-2 w-[14.666667%] ">
        <div class="w-40 h-24 flex-shrink-0  bg-slate-50 bg-opacity-90">
          <div class="max-w-xs rounded overflow-hidden  border">
            <img class="mx-auto my-auto pt-4 h-12 w-16" src="assets/images/Vector.svg" alt="Image 1">
  
              <div class=" mb-2 text-gray-900 text-center font-inter text-base font-medium leading-9 ">Toyota</div>
  
          </div>
        </div>
      </div>
      <div class="m-2 w-[14.666667%] ">
        <div class="w-40 h-24 flex-shrink-0  bg-slate-50 bg-opacity-90">
          <div class="max-w-xs rounded overflow-hidden  border">
            <img class="mx-auto my-auto pt-4 h-12 w-16" src="assets/images/layer1.svg" alt="Image 1">
  
              <div class=" mb-2 text-gray-900 text-center font-inter text-base font-medium leading-9 ">Ford</div>
  
          </div>
        </div>
      </div>
      <div class="m-2 w-[14.666667%] ">
        <div class="w-40 h-24 flex-shrink-0  bg-slate-50 bg-opacity-90">
          <div class="max-w-xs rounded overflow-hidden  border">
            <img class="mx-auto my-auto pt-4 h-12 w-16" src="assets/images/Tesla svg.svg" alt="Image 1">
  
              <div class=" mb-2 text-gray-900 text-center font-inter text-base font-medium leading-9 ">Tesla</div>
  
          </div>
        </div>
      </div>
      <div class="m-2 w-[14.666667%] ">
        <div class="w-40 h-24 flex-shrink-0  bg-slate-50 bg-opacity-90">
          <div class="max-w-xs rounded overflow-hidden  border">
            <img class="mx-auto my-auto pt-4 h-12 w-16" src="assets/images/Volkswagen USA svg.svg" alt="Image 1">
  
              <div class=" mb-2 text-gray-900 text-center font-inter text-base font-medium leading-9 ">TOYOTA</div>
  
          </div>
        </div>
      </div>
      <div class="m-2 w-[14.666667%] ">
        <div class="w-40 h-24 flex-shrink-0  bg-slate-50 bg-opacity-90">
          <div class="max-w-xs rounded overflow-hidden  border">
            <img class="mx-auto my-auto pt-4 h-12 w-16" src="assets/images/Honda svg.svg" alt="Image 1">
  
              <div class=" mb-2 text-gray-900 text-center font-inter text-base font-medium leading-9 ">TOYOTA</div>
  
          </div>
        </div>
      </div>
      <div class="m-2 w-[14.666667%] ">
        <div class="w-40 h-24 flex-shrink-0  bg-slate-50 bg-opacity-90">
          <div class="max-w-xs rounded overflow-hidden  border">
            <img class="mx-auto my-auto pt-4 h-12 w-16" src="assets/images/Nissan USA svg.svg" alt="Image 1">
  
              <div class=" mb-2 text-gray-900 text-center font-inter text-base font-medium leading-9 ">TOYOTA</div>
  
          </div>
        </div>
      </div>
  
  
  
    </div>
  
    <div class="flex flex-wrap justify-center">
  
  
      <div class="m-2 w-[14.666667%] ">
        <div class="w-40 h-24 flex-shrink-0  bg-slate-50 bg-opacity-90">
          <div class="max-w-xs rounded overflow-hidden  border">
            <img class="mx-auto my-auto pt-4 h-12 w-16" src="assets/images/Chevrolet - png (1).svg" alt="Image 1">
  
              <div class=" mb-2 text-gray-900 text-center font-inter text-base font-medium leading-9 ">Chevrolet</div>
  
          </div>
        </div>
      </div>
      <div class="m-2 w-[14.666667%] ">
        <div class="w-40 h-24 flex-shrink-0  bg-slate-50 bg-opacity-90">
          <div class="max-w-xs rounded overflow-hidden  border">
            <img class="mx-auto my-auto pt-4 h-12 w-16" src="assets/images/bmw_logo_icon_145840 1.svg" alt="Image 1">
  
              <div class=" mb-2 text-gray-900 text-center font-inter text-base font-medium leading-9 ">BMW</div>
  
          </div>
        </div>
      </div>
      <div class="m-2 w-[14.666667%] ">
        <div class="w-40 h-24 flex-shrink-0  bg-slate-50 bg-opacity-90">
          <div class="max-w-xs rounded overflow-hidden  border">
            <img class="mx-auto my-auto pt-4 h-12 w-16" src="assets/images/mercedes_benz_logo_icon_145798 1.svg" alt="Image 1">
  
              <div class=" mb-2 text-gray-900 text-center font-inter text-base font-medium leading-9 ">Mercedes-Benz</div>
  
          </div>
        </div>
      </div>
  
      <div class="m-2 w-[14.666667%] ">
        <div class="w-40 h-24 flex-shrink-0  bg-slate-50 bg-opacity-90">
          <div class="max-w-xs rounded overflow-hidden  border">
            <img class="mx-auto my-auto pt-4 h-12 w-16" src="assets/images/Hyundai svg.svg" alt="Image 1">
  
              <div class=" mb-2 text-gray-900 text-center font-inter text-base font-medium leading-9 ">Hyundai</div>
  
          </div>
        </div>
      </div>
      <div class="m-2 w-[14.666667%] ">
        <div class="w-40 h-24 flex-shrink-0  bg-slate-50 bg-opacity-90">
          <div class="max-w-xs rounded overflow-hidden  border">
            <img class="mx-auto my-auto pt-4 h-12 w-16" src="assets/images/Audi svg.svg" alt="Image 1">
  
              <div class=" mb-2 text-gray-900 text-center font-inter text-base font-medium leading-9 ">Audi</div>
  
          </div>
        </div>
      </div>
      <div class="m-2 w-[14.666667%] ">
        <div class="w-40 h-24 flex-shrink-0  bg-slate-50 bg-opacity-90">
          <div class="max-w-xs rounded overflow-hidden  border">
            <img class="mx-auto my-auto pt-4 h-12 w-16" src="assets/images/Kia svg.svg" alt="Image 1">
  
              <div class=" mb-2 text-gray-900 text-center font-inter text-base font-medium leading-9 ">KIA</div>
  
          </div>
        </div>
      </div>
  
  
  
    </div>
  </div>
  
  
  